.App {
    text-align: left;
    height: 100%;
    margin-left: 200px;
  }
  
  .page--no-permission {
    display: none;
  }
  .rowStyle{
      color: black;
  }
  .rowStyleName{
      color: blue;
  }
  .rowStyleId{
      color: brown;
  }